In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../DATA/Advertising.csv')

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [5]:
X = df.drop('sales', axis=1)
y = df['sales']

In [ ]:
# TRAIN | VALIDATION | HOLD OUT TEST
# 70%      15%.          15%
# 1st split: 70:30
# 2st split: 50:50

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.30, 
                                                    random_state=101)

In [8]:
X_validation, X_holdout_test, y_validation, y_holdout_test = train_test_split(X_test, 
                                                              y_test, 
                                                    test_size=0.50, 
                                                    random_state=101)

In [11]:
len(X)

200

In [12]:
len(X_train)

140

In [13]:
len(X_validation)

30

In [14]:
len(X_holdout_test)

30

In [15]:
# model training
from sklearn.ensemble import RandomForestRegressor

In [26]:
model = RandomForestRegressor(n_estimators=30, random_state=101)

In [27]:
model.fit(X_train, y_train)

RandomForestRegressor(n_estimators=30, random_state=101)

In [28]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [29]:
validation_predictions = model.predict(X_validation)

In [30]:
mean_absolute_error(y_validation, validation_predictions)

0.6575555555555552

In [31]:
import numpy as np
np.sqrt(mean_squared_error(y_validation, validation_predictions))

0.8542009478215644

In [32]:
df.describe()['sales']

count    200.000000
mean      14.022500
std        5.217457
min        1.600000
25%       10.375000
50%       12.900000
75%       17.400000
max       27.000000
Name: sales, dtype: float64

In [33]:
# Final Performance

In [34]:
hold_out_preds = model.predict(X_holdout_test)

In [35]:
mean_absolute_error(y_holdout_test, hold_out_preds)

0.5937777777777775

In [36]:
np.sqrt(mean_squared_error(y_holdout_test, hold_out_preds))

0.745323693040418

In [37]:
final_model = RandomForestRegressor(n_estimators=30, random_state=101)

In [38]:
final_model.fit(X, y)

RandomForestRegressor(n_estimators=30, random_state=101)

In [39]:
import joblib

In [40]:
joblib.dump(final_model, 'final_model.pkl')

['final_model.pkl']

In [44]:
joblib.dump(list(X.columns), 'col_names.pkl')

['col_names.pkl']

In [45]:
#Loading model

In [46]:
new_columns = joblib.load('col_names.pkl')

In [47]:
new_columns

['TV', 'radio', 'newspaper']

In [48]:
loaded_model = joblib.load('final_model.pkl')

In [49]:
loaded_model

RandomForestRegressor(n_estimators=30, random_state=101)

In [50]:
loaded_model.predict([[230.1, 37.8, 69.2]])

/Users/bellaxia/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([21.99])

'/Users/bellaxia/Downloads/UNZIP_FOR_NOTEBOOKS_FINAL/24-Model-Deployment'